.category-page{
    width: 100%;
    min-height: 100vh;
    background-color: ghostwhite;
    padding: 70px 0;
}
.filter{
    
    max-width: 250px;

}

.pd_img{
    width: 80%;
    height: 350px;
    margin: auto;
    display: block;
    padding: 12px;
    filter: drop-shadow(0px 5px 5px #222);
}

.dis{
    cursor:no-drop !important;
}